.venv/
__pycache__/
*.pyc
.env
logs/*
data/jobs/*
data/outputs/*
data/temp/*
data/tts_tests/*
data/*.db
!logs/.gitkeep
!data/jobs/.gitkeep
!data/outputs/.gitkeep
!data/temp/.gitkeep

data/input/manual_scripts/*